.datos__form {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
}

.datos__form input {
  display: flex;
}

.datos__form label {
  text-align: center;
}
