/* Lista especialistas */
.fonts__list {
  font-family: "Bebas Neue", cursive;
}

/* bg seccion inicial */
.seccion1 {
  background-image: url(../imgs/network-city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 25px 1px;
  padding-bottom: 2rem;
}

.bg-seccion2 {
  /*  background-color: #06223de7; */
  box-shadow: 0px 10px 25px 1px;
}

.container__especialistas {
  ul {
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    text-shadow: 5px 3px 5px black, 0 0 1em rgb(4, 4, 58),
      0 0 0.2em rgb(0, 0, 15);
    padding-bottom: 2.3rem;

    li {
      text-align: center;
      color: rgb(255, 255, 255);
      list-style: none;
    }
  }
}
.bg-txt {
  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 3rem;
  height: auto;
}
.subtitulos {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 3px 2px black, 0 0 1em rgb(131, 131, 209),
    0 0 0.2em rgb(10, 10, 153);
}

.container {
  .section__servicios {
    border-radius: 2rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.11);
    box-shadow: 5px 8px 12px black;

    .card {
      transition: all 300ms;
      width: 18rem;

      h5 {
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 3px 2px black, 0 0 1em rgb(131, 131, 209),
          0 0 0.2em rgb(10, 10, 153);
      }
      p {
        font-size: 15px;
        font-family: "Roboto", sans-serif;

        text-shadow: 1px 3px 2px black, 0 0 1em rgb(9, 9, 51),
          0 0 0.2em rgb(10, 10, 153);
        display: flex;
        justify-content: center;
        padding: 2rem;
      }
      &:hover {
        transform: scale(1.15);
      }

      .card-text {
        padding-top: 3rem;
        text-align: center;
        display: flex;
        justify-content: stretch;
        flex-direction: column;
      }
    }
  }
}
