main {
  background-color: rgba(242, 253, 251, 0.39);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Lista especialistas */
.fonts__list {
  font-family: "Bebas Neue", cursive;
}

/* bg seccion inicial */
.seccion1 {
  background-image: url(../imgs/network-city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 25px 1px;
  padding-bottom: 2rem;
}

.bg-seccion2 {
  /*  background-color: #06223de7; */
  box-shadow: 0px 10px 25px 1px;
}

.container__especialistas {
  ul {
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    text-shadow: 5px 3px 5px black, 0 0 1em rgb(4, 4, 58),
      0 0 0.2em rgb(0, 0, 15);
    padding-bottom: 2.3rem;

    li {
      text-align: center;
      color: rgb(255, 255, 255);
      list-style: none;
    }
  }
}
.bg-txt {
  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 3rem;
  height: auto;
}
.subtitulos {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 3px 2px black, 0 0 1em rgb(131, 131, 209),
    0 0 0.2em rgb(10, 10, 153);
}

.container {
  .section__servicios {
    border-radius: 7rem;
    padding-inline: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    background-color: rgba(255, 255, 255, 0.11);

    img {
      border-radius: 5rem;
      background-color: rgba(0, 0, 0, 0.884);
      padding: 0.2rem;
      width: 18rem;
    }
  }
}
