.navbar {
  color: white;
  background-color: #06223de7;
  background-image: $bg-nav-footer;
  text-shadow: 5px 3px 18px rgb(102, 7, 7), 0 0 10rem rgb(249, 249, 250),
    0 0 0.2em rgb(0, 40, 53);
  box-shadow: 2px 25px 25px 10px; /*  #02213d8f; */
  font-size: 20px;
  .navbar-nav {
    color: white;
    .nav-link {
      color: white;
    }

    .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.219);
      border-radius: 0.3rem;
      padding: 0.5rem;
      max-width: max-content;
      color: rgb(26, 219, 26);
    }
  }
}
