.navbar {
  color: white;
  background-color: #06223de7;
  text-shadow: 5px 3px 18px rgb(255, 255, 255), 0 0 10rem rgb(249, 249, 250),
    0 0 0.2em rgb(157, 219, 238);
  box-shadow: 0px 25px 25px 10px; /*  #02213d8f; */
  font-size: 20px;
  .navbar-nav {
    color: white;
    .nav-link {
      color: white;
    }

    .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.39);
      border-radius: 0.3rem;
      padding: 0.5rem;
      max-width: max-content;
      /* color: green; */
    }
  }
}
