/* imagenes en productos */
.productos img {
  max-width: 200px;
  height: 150px;
}

.productos .card {
  height: 100%;
  transition: all 300ms;

  &:hover {
    transform: scaleY(1.15);
  }
}

.decripcion {
  background-color: black;
}
