/* estrellas bg */
.estrella {
  color: green;
}

/* color de fondo */

/* Carrusel */
.carousel-item img {
  height: 500px;
}

/* Carrusel Sutbítulo */
.carousel-caption {
  p {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 3px 2px black, 0 0 1em rgb(131, 131, 209),
      0 0 0.2em rgb(10, 10, 153);
  }
  h5 {
    text-shadow: 5px 3px 5px black, 0 0 1em rgb(4, 4, 58),
      0 0 0.2em rgb(0, 0, 15);
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 3px 2px black, 0 0 1em rgb(131, 131, 209),
      0 0 0.2em rgb(10, 10, 153);
  }
}
/* Lista servicios  */
.lista__servicios li {
  list-style: none;
  padding: 1rem;
}

/* check de la lista servicios */
.icon__check {
  color: green;
  font-size: 22px;
}

.lista__servicios li {
  text-shadow: 1px 0px 0px black, 0 0 3em rgba(0, 255, 17, 0.534);
  color: black;
  font-family: "Merriweather Sans", "sans-serif";
}
